<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jmu.mapper.BookDescribeMapper">

	<insert id="addBookDescribe" parameterType="cn.jmu.po.BookDescribe">
		insert into bookdescribe(ISBN,sonID,publicID,borrowtypeID,bookname,price,introduce,picture) values(#{ISBN},#{sonID},#{publicID},#{borrowtypeID},#{bookname},#{price},#{introduce},#{picture})
	</insert>
	
	<delete id="deleteBookDescribe" parameterType="String">
		delete from bookdescribe where ISBN=#{ISBN}
	</delete>
	
	<update id="updateBookDescribe" parameterType="cn.jmu.po.BookDescribe">
		update bookdescribe set sonID=#{sonID}, publicID=#{publicID}, borrowtypeID=#{borrowtypeID}, bookname=#{bookname}, price=#{price}, introduce=#{introduce}, picture=#{picture} where ISBN=#{ISBN}
	</update>
	
	<select id="findByKeyword" parameterType="String" resultType="cn.jmu.po.BookDescribe">
		select * from bookdescribe where ISBN like "%"#{keyword}"%" or bookname like "%"#{keyword}"%" or sonID like "%"#{keyword}"%" or  introduce like "%"#{keyword}"%"
	</select>
	
	<select id="findAll" resultType="cn.jmu.po.BookDescribe">
		select * from bookdescribe
	</select>
	
	<select id="findBySonID" resultType="cn.jmu.po.BookDescribe" parameterType="String">
		select * from bookdescribe where sonID=#{sonID}
	</select>
	
	<select id="findByISBN" resultType="cn.jmu.po.BookDescribe" parameterType="String">
	    select * from bookdescribe where ISBN=#{ISBN}
	</select>
</mapper>