<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jmu.mapper.TicketTypeMapper">
    
    <select id="getTicketTypeName" parameterType="String" resultType="String">
     select finetypename from tickettype where finetypeID=#{finetypeID}
    </select>
    
    <select id="findall" resultType="cn.jmu.po.TicketType">
     select * from tickettype
    </select>
    
</mapper>