<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jmu.mapper.UnitMapper">
    
    <select id="getUnitName" parameterType="String" resultType="String">
     select unitname from unit where unitID=#{unitID}
    </select>
    
    <insert id="addUnit" parameterType="cn.jmu.po.Unit">
    insert into unit values(#{unitID},#{unitname})
    </insert>
    
    <select id="getAll" resultType="String">
    select unitID from unit;
    </select>
</mapper>